.section-basket {
  height: 90vh;
}

.cart {
  max-width: 1200px;
  margin: 0 auto;
  padding: 25px;
  background-color: var(--light);
  border-radius: var(--radius);
  box-shadow: var(--shadow);
}

.section-title {
  color: var(--dark);
  font-size: 1.8rem;
  margin-bottom: 25px;
  padding-bottom: 10px;
  border-bottom: 2px solid var(--secondary);
  text-align: center;
}

.cart-table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
  margin-bottom: 30px;
  background-color: #2e5f42;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 1px 3px rgba(45, 58, 45, 0.1);
}

.cart-table th {
  background-color: #377550;
  color: #fffdf5;
  font-weight: 600;
  padding: 15px;
  text-align: left;
  border-bottom: 2px solid var(--primary-light);
}

.cart-table td {
  color: #fffdf5;
  font-weight: 600;
  padding: 15px;
  text-align: left;
}

.cart-table tr:last-child td {
  border-bottom: none;
}

.cart-table input[type="number"] {
  width: 70px;
  padding: 15px;
  border: none;
  text-align: center;
  font-size: 1rem;
  background-color: #fffdf5;
}

.cart-table input[type="number"]:focus {
  border-color: var(--primary);
  box-shadow: 0 0 0 2px rgba(74, 107, 58, 0.2);
  outline: none;
}

.btn-remove {
  background: none;
  border: none;
  color: var(--text-light);
  font-size: 1.4rem;
  cursor: pointer;
  transition: var(--transition);
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.btn-remove:hover {
  color: #c23b3b;
  background-color: rgba(194, 59, 59, 0.1);
}

.cart-total {
  text-align: right;
  font-size: 1.2rem;
  margin: 40px 0 20px;
  padding-top: 20px;
  border-top: 2px solid var(--secondary);
}

.cart-total span {
  font-weight: 700;
  color: var(--primary);
  font-size: 1.3rem;
}

.btn-checkout {
  background-color: #2e5f42;
  color: white;
  border: none;
  padding: 14px 35px;
  border-radius: 8px;
  font-weight: 600;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s ease;
  box-shadow: 0 2px 5px rgba(45, 58, 45, 0.1);
}

.btn-checkout:hover {
  background-color: #377550;
  transform: translateY(-2px);
  box-shadow: 0 4px 8px rgba(45, 58, 45, 0.15);
}

.cart-price {
  margin-bottom: 15px;
  font-weight: 600;
  color: #2e5f42;
}

.cart-price span {
  margin-bottom: 15px;
  font-weight: 600;
  color: rgb(0, 0, 0);
}